body {
  background-color: rgba(238, 130, 238, 0.3);
  font-family: "roboto mono", monospace;
  text-align: justify;
  list-style-position: inside;
  margin: 0 auto;
  height: 100vh;
}


#firstSection {
  background-color: rgba(43, 58, 226, 0.728);
  padding-bottom: 1rem;
  margin-bottom: 0;
}

nav{
      background-image: url(img/index_header.jpg);
      padding: 2rem 0;
}

nav li {
  list-style: none;
  display: inline;
}

a {
  border: none;
  background-color: transparent;
  font-weight: 700;
  padding: 7%;
  color: aliceblue;
  font-family: "roboto condensed", sans-serif;
}


h1 {
  font-family: "roboto condensed", sans-serif;
  margin-top: 0;
}

h1:hover {
  color: #6a547d;
}

#contacts_header {
  background-image: url(img/contact_header.jpg);
  background-size: cover;
  background-position: center;
}

#whoSection {
  background-image: url(img/about_header.jpg);
  background-size: cover;
  background-position: bottom;
  margin-top: 0;
  padding: 3rem 1rem;
}

#self {
  max-width: 200px;
  float: inline-end;
}

#telly {
  max-width: 200px;
  float: inline-start;
}

section{
    background-color: #E2D67A;
    padding: 3rem 1rem;
}

section img {
  width: 20%;
  float: inline-start;
  margin-right: 5%;
}

hr {
  border: none;
  border-bottom: #6a547d dotted 3px;
}

p{
    color: aliceblue;
    width: 80%;
    margin-left: 1rem;
}

footer{
    background-color: grey;
    padding: 1rem 1rem;
}

footer p {
    margin-top: 0;
}